body {
  background: pink;
  
  }


.container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 
  
h1 {
  color: #fff;
  font-family: "Handlee", cursive;
  font-size: 96px;
  text-align: center;
  font-weight: 300;
}
  
img {
  max-width: 40%;
  padding: 20px;
  display: block;
  margin: 0 auto;
}

form {
  padding: 30px;
}
  
.btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #676264;
  padding: 20px 80px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 6px #2E282A;
}
  
.btn a {
    color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.btn:hover {
  box-shadow: 0 4px #2E282A;
  top: 2px; 
}

.btn:active {
  box-shadow: none;
  top: 6px; 
} 


.azul {
  background-color: #00aced;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.imagen {
  border-color: red;
}

.imagen-carousel {
  width: 25%;
  float: left;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
}
